In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
pp_dep = pd.read_csv("pp_dep.csv", sep=";", dtype={"reg":str})

In [9]:
pp_dep.period_date.unique()

array(['2021-01-31T00:00:00.0000000', '2021-02-28T00:00:00.0000000',
       '2020-12-31T00:00:00.0000000', '2020-11-30T00:00:00.0000000',
       '2022-12-31T00:00:00.0000000', '2021-03-31T00:00:00.0000000'],
      dtype=object)

In [4]:
pp_dep.groupby("period_date").count()

,Unnamed: 0,indicateur,period_month_tri,Date,valeur,departement,mesure,short_indic,short_mesure,dep,reg,libelle,region
period_date,,,,,,,,,,,,,
2020-11-30T00:00:00.0000000,2095,2095,2095,2095,2095,2095,2095,2095,2095,2095,2095,2095,2095
2020-12-31T00:00:00.0000000,3323,3323,3323,3323,3323,3323,3323,3323,3323,3323,3323,3323,3323
2021-01-31T00:00:00.0000000,4181,4181,4181,4181,4181,4181,4181,4181,4181,4181,4181,4181,4181
2021-02-28T00:00:00.0000000,3618,3618,3618,3618,3618,3618,3618,3618,3618,3618,3618,3618,3618
2021-03-31T00:00:00.0000000,78,78,78,78,78,78,78,78,78,78,78,78,78
2022-12-31T00:00:00.0000000,100,100,100,100,100,100,100,100,100,100,100,100,100

In [17]:
export = pp_dep[["mesure", "short_indic","dep", "valeur"]]
export = pd.pivot_table(export, values="valeur", index=["dep"], columns=["mesure", "short_indic"],aggfunc=np.sum)
today = datetime.today().strftime('%Y-%m-%d')
export.to_csv("export.csv", sep=";")
print(export.shape)

(100, 59)